<app-dialog [(visible)]="showDialog">
  <h1>Welcome to</h1>
  <h2>Dozn</h2>
  <h4>Intro text</h4>
  <form>
    <auto-complete (create)="onCreate($event)" (autocompleteSelected)="onSelect($event)" [project]="projectId" label="SELECT USER" type="companyUsers"></auto-complete>
    <auto-complete (create)="onCreate($event)" (autocompleteSelected)="onSelect($event)" [project]="projectId" label="SELECT FEATURE" type="features"></auto-complete>
    <auto-complete (create)="onCreate($event)" (autocompleteSelected)="onSelect($event)" [project]="projectId" label="SELECT FLOW" type="flows"></auto-complete>
    <div class="submit-button">
      <button type="submit" (click)="onSubmit()">Begin Session</button>
    </div>
  </form>
</app-dialog>
